body {
    background-color: #ccff99;
    font-family: 'PT Sans', sans-serif;
    color: darkslategray;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}
#contenu{
    background-color: antiquewhite;
    width: 670px;
    margin: 0 auto;
    border:  1px solid black;
    text-align: left;
    padding: 0 0 0 100px;
}
#header h1{
    height: 250px;
    background-color: #ccff99;
    padding: 0;
}
#header{
    height: 250px;
    border: 1px solid black;
    margin: 0 auto;
}
div{
    width: 770px;
    margin: 0 auto;
    
}
a:visited{
    color: black;
}
nav ul li{
    display: inline-block;
    width: 150px;
    background-color: rgb(63, 119, 18);
    padding: 0px;
    color: white;
    margin: 0 auto;
}
nav ul a:link{
    color: white
}
nav ul a:visited{
    color: white;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
div h2{
    color: rgb(63, 119, 18);
    border-bottom: 5px solid rgb(63, 119, 18);
}
div blockquote p{
    color: rgb(63, 119, 18);
    border-bottom: 5px solid rgb(63, 119, 18);
}
