@charset "utf-8";
/* CSS document */

/* ma première feuille de style externe */

/* des styles simples pour visualiser les div */
/* Les class ----------------------------------------------------- */
.fondorange{
    background:orange;
}

.fondrouge{
    background:lightcoral;
    padding: 5px;
}

.fondvert{
    background:green;
}

.fondbleu{
    background:lightblue;
    /* padding: 5px; */
}

.fondbleu2{
    background:lightblue;
     padding: 5px; 
}
.fondbleu3{
    background: aliceblue;
}

.fondviolet{
    background:chocolate;
}
.clear {
    clear:both;
}
.ulyolo{
    list-style-type: none;
    list-style-image: url(../img/globe_fleche.png);
    font-size: 25px;
}


/* Les ID -----------------------------------------------------------*/
#filetgauche{
    border-left: 3px solid blue;
}
#cartouche{
    border: 2px solid orange;
    border-radius: 100px;
    padding: 25px;
}
#filetgauche2{
    border-left: 3px solid red;
}
#cartouche2{
    border: 2px solid green;
    border-radius: 1000px;
    padding: 25px;
}

/* le haut de page */


/* le contenu principale */
#main{
    background: lightblue;
   /*  width: 679px; */
   width: 879px;
    float: right;
    padding: 10px;    
}

#photoville{
    height: 419px;
    background: url(../img/aslan_san_gimignano.jpeg) no-repeat;
}
/* #photoville:hover{
    transform: scale(1.3)
} */

#photodésert{
    background: url(../img/desert.jpeg) no-repeat;
    height:419px;
}
/* #photodésert:hover{
    transform: scale(1.3)
} */
.yoloswaggy ul{
    background: aliceblue;
    padding-left: 10px;
    float: right;
    list-style-type: none;
    display: block;
    margin: 10px;
    margin-top:60px;
}
#photoferrarri{
    background: url(../img/ferrerrieretouchee.jpeg) no-repeat;
    height: 419px;
}
/* #photoferrarri:hover{
    transform: scale(1.3)
} */
#parispanoramique1{
    background: url(../img/parispanoramique1.jpg) no-repeat;
    height: 419px;
}
/* #parispanoramique1:hover{
    transform: scale(1.3)
} */
#parispanoramique2{
    background: url(..//img/parispanoramique2.jpg) no-repeat;
    height: 419px;
}
/* #parispanoramique2:hover{
    transform: scale(1.3)
} */
#parispanoramique3{
    background: url(../img/parispanoramique3.jpg) no-repeat;
    height: 419px;
}
/* #parispanoramique3:hover{
    transform: scale(1.3)
} */
#wrapper{ /*l'emballage de toute la page*/
    /* width: 998px; */
    width: 1198px;
    margin-top: 20px;   
    margin-right: auto;
    margin-left: auto;
}

#navigation{
    background: lightblue;
    padding: 10px;
    font-size: 25px;
}

#block01{
    font-size: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    padding: 1px;
    background: brown;
}

#block02{
    font-size: 20px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    padding:10px;
    background: blue;
    
}

#block03{
    font-size:30px; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    padding:20px; 
    background: rosybrown;
}

#uldunavigateur{
    border: 1px solid black;
}

#divmain{
    width:879px;
    float: right;
    padding: 10px;
}

#survol:hover p{
    display: block;
}
#survol p {
    display: none;
    background-color: coral;
    padding: 20px;
}

#uldunavigateur{
    list-style-type: none ;
    list-style-image: url(../img/globe_fleche.png);
}

#uldunavigateur ul li{
    list-style-type: none;
}


/* la class pour tout mettre dans le flux normal ---------------------------------------------------- */

/* le côté de la page */
aside{
    /* largeur de l'élément */
    width: 279px;
    float: left;
    padding:10px
}

h1{
    background-color: #008000;
    text-transform: uppercase;
}
header h1 a {
    text-decoration: none;
}
header h1{
    background-color: aqua;
    opacity: 0.5;
}
header h1{
    text-align: center;
    width: 140px;

}


/* les styles de la page */
body{
    margin: auto; /*la marge exterieur d'un élément*/
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
    background-color:#556;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a), 
    linear-gradient(60deg, #99a 25%, transparent 25.5%, transparent 75%, #99a 75%, #99a);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
header{
    /* hauteur de l'élément */
    height: 412px; 
    border: 1px solid white; 
    /* background: url(../img/panorama.jpeg) center top no-repeat; */
    background: url(../img/panorama.jpeg) center top no-repeat , linear-gradient(lightblue,chocolate,red,yellow,purple,white, blue) ;
}


/* Le pied de page */
footer{
    height: 220px;
    border: 10px solid goldenrod;

}



/* le tableau sur css ---------------------*/

thead{
    background: blue;
    border: 1px solid black;
    
}
tbody{
    background: aliceblue;
    border: 1px solid black;
}

table{
     border-collapse: collapse;
}

td,th{
    border: 2px solid white;
    padding: 3px;
}
tfoot{
    background: blue;
}
tr:hover{
    background-color: rosybrown;
}
caption{
    padding: 5px;
    background: aliceblue;
    caption-side: bottom;
    border: 1px solid white;
}

.t123 td:nth-child(2n+1) {
    background-color: red;
}

 .t122 td:nth-child(2n+2) {
    background-color: red;
}








/* le formulaire sur le css---------------------------------------------------- */
form{
    background:rgb(232, 232, 232);
    padding: 10px;
    width: 80%;
}
fieldset{
    padding: 20px;
    margin-bottom: 20px;
    border: 1px dashed black;
    width:  80%;
}
legend{
    font-weight: 800px;
    color:red;
}
label{
    background: olivedrab;
    color: aqua;
    display: block; /* display:block; permet d'aller à la ligne automatiquement */
    margin-top: 10px;
    margin-bottom: 10px;
}
label.inline{
    /* tout les labels qui ont la classe .inlane */
    display: inline;
    margin-right: 50px;
}

input, textarea,select{
    /* pour styler plusieurs éléments et leur donner des attributs communs */
    border: 2px solid black;
    padding: 3px;
    /* box-shadow: 2px 2px 2px gray inset; */
    box-shadow: 2px 2px 2px gray;
    
}
select{
    margin-top: 10px;
}

 /* testes des pseudo-classes ---------------------------------------------------*/

/* quand le lien n'est pas vidité */
a:link {
    color: red;
}

/* quand le lien est visité */
a:visited {
    color: lightseagreen;
}
/* quand on survole le lien  */
a:hover {
    color: goldenrod;
    background-color: black;
    text-decoration: underline;
}

a{
    text-decoration: none;
}

input:optional {
    border-color: #008000;
}  

input:required {
    border-color: #800000;
}

input:invalid {
    background-color: chocolate
}

input:valid {
    background-color: #008000;
}





/* Essais-------------------------- */


/* Des variables ----------------------------------------- 
pour les dégradés:
linear-gradient(yellow, red);
linear-gradient(to right,yellow, red);
radian-gradient(,yellow, red);

